::before,
::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.hight-panel{
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    font-size: 24px;
    background-color: rgb(46, 46, 46);
    position: fixed;
    top: 0;
    left: 0;
    padding: 2vw;
    width: 100%;
}
html,
body{
     font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(73, 44, 0);
    z-index: -10;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    padding: 2vw;
    font-size: 24px;
    margin-top: 10vw;
    flex: 1 0 auto;
}
h1{
  text-shadow: 5px 3px 2px #0000004d;
}
footer{
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.884);
    padding-top: 2vw;
    position: absolute;
    left: 0;
    min-height: 2vw;
    width: 100%;
    flex: 0 0 auto;
    background-color: rgb(46, 46, 46);
}
main p{
  text-shadow: 5px 3px 2px #0000004d;
}
.p1{
    color:rgb(0, 0, 0);
    text-align: left;
    padding-left: 1vw;
  }
.p2{
  color: aliceblue;
  text-align: center;
}
.form1{
  box-shadow:0 0 20px rgba(255, 255, 255, 0.884);
  border-radius: 30px;
  width: 50vw;
  background-color: rgb(0, 61, 4);
  margin-left: 2vw;
  margin-top: -13vw;
  margin-bottom: 3vw;
  padding: 1vw; font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.div1{
  padding-left:  1vw;
  padding-top: 0.7vw;
font-size: 18px;
}
.textarea1{
  resize:none;
}
.img1{
  width: 300px;
  height: 200px;
  float: right;
  margin-right: 5vw;
  border-radius: 50%;
}

 





/*Сама кнопка*/
.dropbtn {
    border-radius: 5px;
    background-color: rgb(73,44,0);
    border: solid 2px;
    border-color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Кнопка выпадающего меню при наведении и фокусировке */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(151, 118, 69);
    border: solid 2px;
    border-color: black;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    
    display: none;
    position: absolute;
    background-color: rgb(151, 118, 69);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.884);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: solid 1px;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;}